@use '../../../../styles/mixins' as *;

.wrappRecommended {
    width: 100%;
    padding-top: 48px;
}

.wrapCardSlider {
    width: 100%;
    padding-bottom: var(--content-padding);
}

.movieRecommend {
    @include fonts(600, 24px, #fff, 36px);
    margin-bottom: 16px;
}

.movieRecommendLight {
    color: #000;
}
