@use '../../shared/styles/mixins' as *;

.wrappMovieDetails {
  @include rowing(space-between, null, column);
  @include sizes(null, 1250px);
}

.movieDetails {
  @include rowing();
  padding: 0 var(--content-padding);
}

.container {
  @include sizes(60vw);
  display: grid;
  grid-template-areas:
    "area1 area2"
    "area1 area3";
  grid-template-columns: clamp(220px, 18vw, 320px) 1fr;
  grid-auto-rows: min-content;
  gap: 40px;
}

// Sub-component styles are now in their respective modules
// (MoviePoster, MovieHeader, MovieInfo)

.wrappSlider {
  @include rowing();
}

.wrapCardSlider {
  @include sizes(57vw);
  overflow: hidden;
  padding-top: 4vh;

  .recLight {
    color: #000;
  }
}

.spacer {
  @include sizes(234px);
  flex-shrink: 0;
}

.wrappRecommended {
  @include rowing();
}

.movieRecommend {
  @include fonts(600, 24px, #fff, 36px);
  padding: 0 0 30px 25px;
}

.recommendedSpacer {
  @include sizes(320px);
}

@include screenSize(lg) {
  .wrappMovieDetails {
    flex-grow: 1;
  }

  .wrapCardSlider {
    flex-grow: 1;
  }

  .spacer {
    display: none;
  }

  .poster {
    @include sizes(calc(120px + 10.9vw));
  }

  .container {
    flex-grow: 1;
  }

  .recommendedSpacer {
    @include sizes(calc(140px + 10.9vw));
  }
}

@include screenSize(md) {

  .title {
    @include fonts(600, 32px, #fff, 48px);
  }

  .poster {
    @include sizes((calc(120px + 13vw)));
  }

  .wrappMovieDetails {
    @include sizes(null, 1310px)
  }

  .movieRecommend {
    padding: 0 0 40px 25px;
  }

  .wrapCardSlider {
    @include sizes(54vw);
  }
}

@include screenSize(md-sm) {
  .container {
    grid-template-areas:
    "area2"
    "area1"
    "area3";
    grid-template-columns: 1fr;
  }

  .title {
    @include fonts(600, 28px, #fff, 42px);
  }

  .poster {
    @include sizes(100%);
  }

  .wrapCardSlider {
    padding: 4vh 0;
  }

  .recommendedSpacer {
    display: none;
  }

  .movieRecommend {
    padding-left: 0;
    font-size: 20px;
  }
}

@include screenSize(xs) {
  .wrapCardSlider {
    padding-bottom: 2vh;
  }
}
