@use '../../shared/styles/mixins' as *;

.wrappMovieDetails {
  @include rowing(space-between, null, column);
  @include sizes(null, 1250px);
}

.movieDetails {
  @include rowing();
  padding: 0 var(--content-padding);
}

.container {
  @include sizes(60vw);
  display: grid;
  grid-template-areas:
    "area1 area2"
    "area1 area3";
  grid-template-columns: clamp(220px, 18vw, 320px) 1fr;
  grid-auto-rows: min-content;
  gap: 40px;
}

@include screenSize(lg) {
  .wrappMovieDetails {
    flex-grow: 1;
  }

  .container {
    flex-grow: 1;
  }
}

@include screenSize(md) {
  .wrappMovieDetails {
    @include sizes(null, 1310px)
  }
}

@include screenSize(md-sm) {
  .container {
    grid-template-areas:
    "area2"
    "area1"
    "area3";
    grid-template-columns: 1fr;
  }
}
