@use '../../../../styles/mixins' as *;

.wrappPoster {
  grid-area: area1;
}

.poster {
  border-radius: 20px;
}

.iconPanel {
  @include rowing(center);
  @include sizes(100%, 60px);
  margin-top: 30px;
  border-radius: 10px;
  background-color: #323537;
}

.iconPanelLight {
  background-color: #80858B;

  svg path:hover {
    fill: #fff;
  }

  svg:hover circle,
  svg:hover path {
    stroke: #fff;
  }
}

.divider {
  @include sizes(2px);
  background-color: #000;
}

.wrapFavourite, .wrapShare {
  @include rowing(center, center);
  flex-grow: 1;
  cursor: pointer;
}

@include screenSize(lg) {
  .poster {
    @include sizes(calc(120px + 10.9vw));
  }
}

@include screenSize(md) {
  .poster {
    @include sizes((calc(120px + 13vw)));
  }
}

@include screenSize(md-sm) {
  .poster {
    @include sizes(100%);
  }
}
