@use '../../shared/styles/mixins' as *;

.titleHome {
  display: none;
}

.movieGallery {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 var(--content-padding);
}

.movieGalleryTrends {
  @include sizes(null, 81vh);
}

// Tablet styles (1280px and below)
@include screenSize(lg) {
  .movieGallery {
    padding: 0 var(--content-padding);
  }
}

// Medium tablet styles (768px and below)
@include screenSize(md) {
  .titleTrends {
    display: block;
  }

  .movieGallery {
    padding: 0 var(--content-padding);
  }
}

// Small tablet styles (630px and below)
@include screenSize(md-sm) {
  .movieGallery {
    padding: 0 var(--content-padding);
  }
}

// Mobile styles (450px and below)
@include screenSize(sm) {
  .movieGallery {
    padding: 0 var(--content-padding);
  }
}

// Extra small mobile (320px and below)
@include screenSize(xs) {
  .movieGallery {
    padding: 0 var(--content-padding);
  }
}
