@use '../../../styles/mixins' as *;

.navItem {
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #8c61ff; // Цвет при наведении
  }
}

.menuLink {
  @include rowing(null, center);
  padding-bottom: 40px;
}

.text {
  @include fonts(600, 18px, #80858B, 24px);
  padding-left: 25px;
}

.active {
  .text {
    color: #8c61ff;
  }

  svg path {
    fill: #8c61ff;
  }
}

.activeSearch {
  .text {
    color: #80858B;
  }

  svg path {
    fill: #80858B;
  }
}

.sidebarWrapp {
  @include rowing();
  min-height: calc(100vh - 216px);
  height: auto;
  padding: 49px 0;

  nav {
    padding-right: 30px;
    margin-right: 11vw;
  }
}

.trendsSidebar {
  nav {
    margin-right: 9vw;
  }
}

.movieSidebar {
  padding: 50px 0 0;
}

// Hide sidebar navigation on tablets and mobile (1280px and below)
@include screenSize(lg) {
  .sidebarWrapp nav {
    display: none;
  }

  .sidebarWrapp {
    @include rowing();
    width: 100%;
    min-height: calc(100vh - 216px);
    height: auto;
  }
}

// Tablet styles (768px and below)
@include screenSize(md) {
  .sidebarWrapp {
    width: 100%;
    min-height: calc(100vh - 232px);
    height: auto;
  }

  .trendsSidebar {
   @include rowing(null, null, column);
   width: 100%;
   min-height: calc(100vh - 90px);
   height: auto;
  }

  .settingsSidebar {
    width: 100%;
    min-height: calc(100vh - 110px);
    height: auto;
  }

  .movieSidebar {
    width: 100%;
    min-height: calc(100vh - 180px);
    height: auto;
  }
}

// Small tablet styles (630px and below)
@include screenSize(md-sm) {
  .sidebarWrapp {
    width: 100%;
    min-height: calc(100vh - 276px);
    height: auto;
  }

  .settingsSidebar {
    width: 100%;
    min-height: calc(100vh - 210px);
    height: auto;
    padding: 35px 0 0;
  }
}

// Mobile styles (320px and below)
@include screenSize(xs) {
  .sidebarWrapp {
    width: 100%;
    min-height: calc(100vh - 232px);
    height: auto;
  }

  .settingsSidebar {
    width: 100%;
    min-height: calc(100vh - 210px);
    height: auto;
  }
}
