@use '../../../../styles/mixins' as *;

.movieHeader {
  grid-area: area2;
}

.genre {
  @include fonts(500, 16px, #AFB2B6, 24px);
}

.title {
  @include fonts(600, 40px, #fff, 60px);
  padding-bottom: 25px;
}

.titleLight {
  color: #000;
}

.infoBadges {
  @include rowing();
}

.rating, .IMDWrap, .runtimeWrap {
  @include rowing(center, center);
  @include fonts(600, 16px, #fff, 24px);
  margin-right: 20px;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #00A340;
}

.IMDWrap, .runtimeWrap {
  background-color: #323537;
}

@include screenSize(md) {
  .title {
    @include fonts(600, 32px, #fff, 48px);
  }
}

@include screenSize(md-sm) {
  .title {
    @include fonts(600, 28px, #fff, 42px);
  }
}
