@use '../../../styles/mixins' as *;

.logo {
  margin-right: 10.9vw;
  flex-shrink: 0;
}

.logoTrends {
  margin-right: 8.85vw;
}

.logoMenuOpen {
  display: none;
}

.wrapLogo {
  display: flex;
  align-items: center;
}

// Tablet styles (1280px and below)
@include screenSize(lg) {
  .logo {
    margin-right: 0;
  }

  .wrapLogo {
    flex-shrink: 0;
  }
}

// Medium tablet styles (768px and below)
@include screenSize(md) {
  .logo {
    margin-right: 0;
  }

  .logoMovie {
    margin-right: 0;
  }
}

// Small tablet styles (630px and below)
@include screenSize(md-sm) {
  .wrapLogo {
    flex-grow: 1;
  }

  .logo {
    order: 0;
  }
}

// Mobile styles (450px and below)
@include screenSize(sm) {
  .logo {
    margin-right: 0;
  }

  .wrapLogo {
    width: 120px;
  }
}

// Extra small mobile (320px and below)
@include screenSize(xs) {
  .wrapLogo {
    width: 100px;
  }

  .logo {
    width: 100px;
    height: 30px;
  }
}
