@use '../../../../shared/styles/mixins' as *;

.movieInfo {
  grid-area: area3;
}

.plot {
  @include fonts(500, 16px, #fff, 24px);
  padding-bottom: 40px;
}

.plotLight {
  color: #000;
}

.detailsWrap {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  > span {
    @include fonts(600, 16px, #AFB2B6, 24px);
  }

  > p {
    @include fonts(500, 16px, #fff, 24px);
  }

  > p.descLight {
    color: #000;
  }
}

.desc {
  @include fonts(500, 16px, #fff, 24px);
}

.descLight {
  color: #000;
}
