@use '../../../shared/styles/mixins' as *;

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
}

.button {
    @include fonts(500, 16px, #fff, 24px);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 30px;
    border-radius: 25px;
    background-color: #242426;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        opacity: 0.8;
    }
}

.signGenre {
    padding-right: 20px;
}
