@use '../../styles/mixins' as *;

.showMoreButton {
  @include rowing(center, center);
  @include fonts(500, 16px, #fff, 24px);
  position: absolute;
  top: 0;
  right: 35%;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: #323537;
  transition: all 0.3s ease;

  > span {
    padding-right: 10px;
  }
}

.btnNone {
  display: none;
}

.btnDark {
  background-color: #323537;
}

.btnLigth {
  background-color: #AFB2B6;
}

.sidebarCopyright {
  padding-bottom: 0;
}

// Tablet styles (1280px and below)
@include screenSize(lg) {
  .showMoreButton {
    right: 50%;
    transform: translateX(50%);
  }
}

// Medium tablet styles (768px and below)
@include screenSize(md) {
  .showMoreButton {
    right: 50%;
    transform: translateX(50%);
    padding: 8px 20px;
    font-size: 14px;
  }

  .customFooter {
    display: none;
  }
}

// Small tablet styles (630px and below)
@include screenSize(md-sm) {
  .showMoreButton {
    padding: 8px 18px;
    font-size: 14px;
  }
}

// Mobile styles (450px and below)
@include screenSize(sm) {
  .showMoreButton {
    padding: 6px 15px;
    font-size: 12px;
  }
}

// Extra small mobile (320px and below)
@include screenSize(xs) {
  .showMoreButton {
    top: -30px;
    padding: 6px 12px;
    font-size: 12px;
  }
}