@use './styles/reset' as *;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sidebar-nav-width: 200px;
  --sidebar-nav-padding: 30px;
  --sidebar-nav-gap: clamp(16px, 3vw, 48px);
  --content-padding: 20px;
}

body {
  font-family: 'Exo 2', serif;
}

@media (max-width: 1280px) {
  :root {
    --content-padding: 15px;
  }
}

@media (max-width: 768px) {
  :root {
    --content-padding: 10px;
  }
}

@media (max-width: 450px) {
  :root {
    --content-padding: 14px;
  }
}

@media (max-width: 320px) {
  :root {
    --content-padding: 10px;
  }
}
