@use '../../shared/styles/mixins' as *;

.userProfile {
  @include rowing();
  margin-left: 40px;
  position: relative;
  cursor: pointer;
}

.userInfo {
  @include rowing(null, center);
  @include sizes(250px);
}

.circle {
  @include rowing(center, center);
  @include sizes(60px, 60px);
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
}

.userName {
  @include fonts(600, 16px, #fff, 24px);
  max-width: 145px;
  color: #fff;
  overflow: hidden;
}

.arrowDown {
  margin-left: auto;
}

.userInitials {
  @include fonts(700, 20px, white, 24px);
}

.lightUserName {
  color: #80858B;
}

.hamburger {
  display: none;
}

.wrappHamb {
  padding-top: 60px;
}

.menuItems {
  @include sizes(var(--hamburger-menu-width), 100%);
  @include rowing();
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #000;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menuLink {
    display: flex;
    align-items: center;
    padding: 30px 16px;
    color: #80858B;
    text-decoration: none;
    transition: background 0.2s;

    &:hover {
      background-color: #3a3a3a;
    }

    &.active {
      font-weight: bold;
      color: #7B61FF;

      svg path {
        fill: #7B61FF;
      }
    }

    .text {
      @include fonts(600, 18px, unset, 24px);
      margin-left: 20px;
    }
  }
}

.menuItemsLight {
  background-color: #AFB2B6;
}

.userInfoHumb {
  display: none;
}

.closeIcon {
  @include sizes(60px, 60px);
  @include rowing(center, center);
  position: relative;
  top: 55px;
  right: 60px;
  background-color: #7B61FF;
  border-radius: 10px;
}

// Hamburger menu appears on tablets and mobile (1280px and below)
@include screenSize(lg) {
  .circle {
    margin: 0;
  }

  .userName, .userInitials {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .userInfo {
    @include sizes(unset);
  }

  .arrowDown {
    display: none;
  }
}

// Small tablet adjustments (630px and below)
@include screenSize(md-sm) {
  .userProfile {
    order: 1;
    margin-left: auto;
  }

  .wrappHamb {
    margin-left: -30px;
  }

  .circle {
    @include sizes(50px, 50px);
  }
}

// Mobile adjustments (450px and below)
@include screenSize(sm) {
  .userProfile {
    margin-left: 15px;
  }

  .circle {
    @include sizes(45px, 45px);
  }

}

@media (max-width: 500px) {
  .menuItems {
    width: 100vw;
  }

  .wrappHamb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    transform: translateX(-60px);
  }

  .menuItems .menuLink {
    justify-content: flex-start;
    width: 180px;
  }

  .closeIcon {
    position: fixed;
    top: 16px;
    right: 16px;
  }
}
